/* font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
/* <weight>: Use a value from 100 to 800 */
/* font */
:root{
  --Dark-blue:#0d253f;
  --Light-blue:#01b4e4;
  --Light-green:#90cea1;
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pointer{
  cursor: pointer;
}
.container-fluid{
  --bs-gutter-x: 6.5rem !important;
}
.text-mix-colors {
  background: linear-gradient(
    90deg,
    rgba(144, 206, 161) 60%,
    rgba(1, 180, 228, 1) 40%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-dark-blue{
  background-color: #0d253f !important;
}
.bg-light-blue{
  background-color: #01b4e4 !important;
}
.bg-light-green{
  background-color: #90cea1 !important;
}
a{
  color: #fff !important;
}